@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

* {
     font-family: 'Poppins';
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: #1B1F27;
     overflow: hidden;
     margin: 0;
}
.area-login {
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
}
.image {
     background-color: #252A34;
     width: 500px;
     height: 600px;
     padding: 50px;
     border-radius: 10px 0 0 10px;
}
.image img {
     margin-left: 25%;
     margin-top: 15%;
}
.form {
     background-color: #181920;
     display: flex;
     border-radius: 0 10px 10px 0;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     width: 500px;
     height: 600px;
     padding: 35px;
} 
h3 {
     color: #CBD0F7;
     font-size: 30px;
}
h4 {
     color: #CBD0F7;
     font-size: 20px;
     margin-right: 260px;
     margin-top: 15px;
}
.form input {
     margin-top: 30px;
     height: 60px;
     width: 320px;
     border: none;
     outline: none;
     font-size: 20px;
     border-radius: 8px;
     background-color: #252A34;
     padding-left: 15px;
     color: #CBD0F7;
}
.form [type="submit"]{
     display: block;
     background-color: #5568FE;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
}
.form [type="submit"]:hover {
     background-color: #6173f8;
}
input::placeholder {
     color: #CBD0F7;
     font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
.textfield {
     width: 100rem;
}